.breadcrumbs
  .center
    .bread-wrap
      .bread-item
        a.bread-link(href="#") Главная
      .bread-item
        .bread-separator
      .bread-item
        a.bread-link(href="#") Бытовые сплит-системы 
      .bread-item
        .bread-separator
      .bread-item
        .bread-active Systemair Sysplit Wall Smart 07 HP Q 
