- var classname = level == 2 ? 'is-active' : '';

.catalog-menu.catmenu.js-catmenu
  a.catmenu-title(href="#") Бытовые сплит-системы SYSPLIT

  ul
    li.is-active
      a.catmenu-lvl1(href="#") Сплит-системы постоянной производительности
      ul
        li 
          a.catmenu-lvl2(href="#") Настенные сплит-системы SMART
        li 
          a.catmenu-lvl2(href="#", class=classname) Настенные сплит-системы SMART 10кВт

    li
      a.catmenu-lvl1(href="#") Инверторные сплит-системы
      ul
        li 
          a.catmenu-lvl2(href="#") Настенные сплит-системы SMART
        
    li
      a.catmenu-lvl1(href="#") Мультисплит-системы
      ul
        li 
          a.catmenu-lvl2(href="#") Настенные сплит-системы SMART
        li 
          a.catmenu-lvl2(href="#") Настенные сплит-системы SMART 10кВт
        li 
          a.catmenu-lvl2(href="#") Настенные сплит-системы SMART 10кВт
