footer.footer
  .footer-top
    .center
      .fmenu
        a.fmenu-item(href="#") Бытовые сплит-системы SYSPLIT
        a.fmenu-item(href="#") Полупромышленные системы SYSPLIT
        a.fmenu-item(href="#") Бытовые сплит-системы SYSPLIT
        a.fmenu-item(href="#") Аксессуары
      
      .footer-menu.fnav
        a.fnav-item(href="#") О компании
        a.fnav-item(href="#") Пресс-центр 
        a.fnav-item(href="#") Документация
        a.fnav-item(href="#") Видео
        a.fnav-item(href="#") Сервис
        a.fnav-item(href="#") Объекты   
        a.fnav-item(href="#") Подбор по параметрам
        a.fnav-item(href="#") Где купить
        
        a.fnav-up.js-scroll-to(href="#")
          i
      
  .footer-bottom
    .center
      .footer-rights © 2016 Systemair AB.<br /><span class="is-no-mobile">Все права защищены.</span>
      address.footer-address <a href="tel:+74957979988" class="footer-phone">+7 (495) 797 99-88</a> Россия, г. Москва, ул. Шаболовка, 31Г, <nobr>4-й подъезд</nobr>, <nobr>4-й этаж</nobr>
      a.footer-mail(href="mailto:info@systemair.ru") info@systemair.ru
      a.footer-logo(href="#")
