.innerMenu.js-inner-menu(data-innermenu="1")
  .center
    .innerMenu-wrap.grid
      .grid-col.grid-col--4
        .innerMenu-item
          .innerMenu-image
            img(src="img/mini-prod-1.png", alt="product")
          a.innerMenu-title(href="catalog.html") Бытовые сплит-системы SYSPLIT
          .innerMenu-list
            a.innerMenu-link(href="catalog-lvl2.html") Сплит-системы постоянной производительности
            a.innerMenu-link(href="catalog-lvl2.html") Инверторные сплит-системы
            a.innerMenu-link(href="catalog-lvl2.html") Мультисплит-системы
            
      .grid-col.grid-col--4
        .innerMenu-item
          .innerMenu-image
            img(src="img/mini-prod-2.png", alt="product")
          a.innerMenu-title(href="catalog.html") Мультизональные системы Sysvrf
          .innerMenu-list
            a.innerMenu-link(href="catalog-lvl2.html") Наружные блоки SYSVRF
            a.innerMenu-link(href="catalog-lvl2.html") Внутренние блоки SYSVRF
            a.innerMenu-link(href="catalog-lvl2.html") Системы управления SYSCONTROL
            
      .grid-col.grid-col--4
        .innerMenu-item
          .innerMenu-image
            img(src="img/mini-prod-3.png", alt="product")
          a.innerMenu-title(href="catalog.html") Полупромышленные сплит-системы SYSPLIT
          .innerMenu-list
            a.innerMenu-link(href="catalog-lvl2.html") Кассетные системы SYSPLIT CASSETE
            a.innerMenu-link(href="catalog-lvl2.html") Напольно-потолочные SYSPLIT CEILING
            a.innerMenu-link(href="catalog-lvl2.html") Канальные системы SYSPLIT DUCT
            a.innerMenu-link(href="catalog-lvl2.html") Универсальные наружные блоки SYSPLIT OUTDOOR
            a.innerMenu-link(href="catalog-lvl2.html") Колонные сплит-системы SYSPLIT FLOOR
            
      .grid-col.grid-col--4
        .innerMenu-item
          .innerMenu-image
            img(src="img/mini-prod-4.png", alt="product")
          a.innerMenu-title(href="catalog.html") Аксессуары
          .innerMenu-list
            a.innerMenu-link(href="catalog-lvl2.html") Сплит-системы постоянной производительности
            a.innerMenu-link(href="catalog-lvl2.html") Инверторные сплит-системы
            a.innerMenu-link(href="catalog-lvl2.html") Мультисплит-системы



.innerMenu.js-inner-menu(data-innermenu="2")
  .center
    .innerMenu-wrap.grid
      .grid-col.grid-col--3
        .innerMenu-item
          .innerMenu-image
            img(src="img/mini-prod-1.png", alt="product")
          a.innerMenu-title(href="catalog.html") Бытовые сплит-системы SYSPLIT
          .innerMenu-list
            a.innerMenu-link(href="catalog-lvl2.html") Инверторные сплит-системы
            a.innerMenu-link(href="catalog-lvl2.html") Мультисплит-системы
            
      .grid-col.grid-col--3
        .innerMenu-item
          .innerMenu-image
            img(src="img/mini-prod-2.png", alt="product")
          a.innerMenu-title(href="catalog.html") Мультизональные системы Sysvrf
          .innerMenu-list
            a.innerMenu-link(href="catalog-lvl2.html") Внутренние блоки SYSVRF
            a.innerMenu-link(href="catalog-lvl2.html") Системы управления SYSCONTROL
            
      .grid-col.grid-col--3
        .innerMenu-item
          .innerMenu-image
            img(src="img/mini-prod-3.png", alt="product")
          a.innerMenu-title(href="catalog.html") Полупромышленные сплит-системы SYSPLIT
          .innerMenu-list
            a.innerMenu-link(href="catalog-lvl2.html") Кассетные системы SYSPLIT CASSETE
            a.innerMenu-link(href="catalog-lvl2.html") Напольно-потолочные SYSPLIT CEILING
