.grid.rbrctr
  .center

    .grid-row
      .grid-col.grid-col--2.is-no-mobile.is-no-tablet
        .rbrctr-slider.peppermint
          figure
            .rbrctr-slide.rbrctr-slide--1
              .rbrctr-inside
                .lbl объекты
                address.rbrctr-address <i class="flag flag--ru"></i> Волгоград, Россия
                .rbrctr-headline Hampton by Hilton<br />Volgograd
                .rbrctr-subtitle Установленное оборудование
                .rbrctr-content Чиллеры серии AQL 50 BLN, Габаритные требования по размещению оборудования. Воздухообрабатывающие агрегаты Systemair серии DV
          figure
            .rbrctr-slide.rbrctr-slide--1
              .rbrctr-inside
                .lbl объекты
                address.rbrctr-address <i class="flag flag--ru"></i> Волгоград, Россия
                .rbrctr-headline Hampton by Hilton
                .rbrctr-subtitle Установленное оборудование
                .rbrctr-content Чиллеры серии AQL 50 BLN, Габаритные требования по размещению оборудования.

      .grid-col.grid-col--2
        .rbrctr-subgrid.grid
          
          .grid-row
            .grid-col.grid-col--2
              a.rbrctr-link.rbrctr-link--green(href="#")
                .rbrctr-icon
                  img(src="img/i-sliders.png", width="46")
                .rbrctr-title.is-no-mobile Подбор<br />по параметрам
                .rbrctr-title.is-mobile-only Подбор по параметрам
            
            .grid-col.grid-col--2
              a.rbrctr-link.rbrctr-link--blue(href="#")
                .rbrctr-icon
                  img(src="img/i-help.png", width="56")
                .rbrctr-title.is-no-mobile Гарантия<br />и сервис
                .rbrctr-title.is-mobile-only Гарантия и сервис
              
          .grid-row
            .grid-col.grid-col--1
              a.rbrctr-link.rbrctr-link--cyan(href="#")
                .rbrctr-icon
                  img(src="img/i-folder.png", width="56")
                .rbrctr-title.is-no-mobile Иструкции, сертификаты, программы подбора 
                .rbrctr-title.is-mobile-only Документация
    
    
    .grid-row
      .grid-col.grid-col--2
        .rbrctr-news.rnews
          .rnews-inside
            a.lbl.lbl--cyan(href="#") пресс-центр
            
            .is-no-mobile.js-mobile-news
              a.rnews-main.js-mobile-news-item(href="#")
                .rnews-date 30 июля 2016
                .rnews-title Новая линейка противопожарных и дымовых клапанов серии HELMER
              
              .rnews-items
                a.rnews-item.js-mobile-news-item(href="#")
                  .rnews-date 26 июля 2016
                  .rnews-title Новый Topvex FR <span class="blue">в плоском корпусе</span> с роторным рекуператором
                
                a.rnews-item.js-mobile-news-item(href="#")
                  .rnews-date 26 июля 2016
                  .rnews-title Новый вентагрегат <span class="blue">Topvex FR</span>
  
      .grid-col.grid-col--2.is-no-mobile.is-no-tablet
        a.rbrctr-video.rvideo(href="#", target="_blank")
          .rvideo-bg.js-image-size
            img(src="img/i-video.jpg")
          .rvideo-inside
            .lbl.lbl--dark
              i.i-share
            .lbl Видео
            .rvideo-description Необходимость сервисного обслуживания кондиционеров
