.minicat
  .center
    .minicat-cols
    
      .minicat-col
        a.minicat-item(href="#")
          .minicat-image
            img(src="img/prod-1.jpg", width="279")
          .minicat-title Бытовые<br />сплит-системы SYSPLIT
  
      .minicat-col
        a.minicat-item(href="#")
          .minicat-image
            img(src="img/prod-2.jpg", width="291")
          .minicat-title Мультизональные<br />системы SYSVRF
    
      .minicat-col
        a.minicat-item(href="#")
          .minicat-image
            img(src="img/prod-3.jpg", width="171")
          .minicat-title Полупромышленные<br />сплит-системы SYSPLIT
