.mobMenu.js-mobile-menu
  .center
    
    .mobMenu-search.topsearch    
      .topsearch-form
        label.topsearch-input
          input(type="text", placeholder="Поиск")
        .topsearch-button
          button(type="submit")

    .mobMenu-nav.mnav
      a.mnav-item(href="catalog.html") Продукция
      a.mnav-item(href="#") Сервис
      a.mnav-item(href="#") Объекты
      a.mnav-item(href="#") Подбор по параметрам

    .mobMenu-submenu.msub
      a.msub-item(href="#") О компании
      a.msub-item(href="#") пресс-центр
      a.msub-item(href="#") документация
      a.msub-item(href="#") видео
      a.msub-item(href="#") где купить

    .mobMenu-user.muser 
      .topcabinet
        a.topcabinet-link(href="#") Личный кабинет
      
      .toplang 
        .toplang-icon
        .toplang-value Русский
        .toplang-arrow
        .toplang-list
          a.toplang-item.is-active(href="#") Русский
          a.toplang-item(href="#") English
          a.toplang-item(href="#") Deutsch
        select(name="")
          option Русский
          option English
          option Deutsch
          
    
    .mobMenu-help
      a(href="tel:+74957979988") +7 495 79-799-88
      span Поддержка

    .mobMenu-mail
      span.mobMenu-fakeLink info@systemair.ru
      span электронная почта
