.overlay.js-overlay
.popup.js-popup#productPopup
  .popup-overlay.js-popup-close
  .popup-wrap
    .popup-close.js-popup-close ✕
    .popup-content
      img.js-popup-image(src="img/product/main.jpg", alt="")
