.product
  .center
    .product-wrap
      
      .product-slider.pSlider
        .pSlider-wrapper.peppermint
          figure.pSlider-slide
            img(src="img/product/main.jpg", alt="product")
          figure.pSlider-slide
            img(src="img/product/main-2.jpg", alt="product")
          figure.pSlider-slide
            img(src="img/product/main-3.jpg", alt="product")
    
      .product-top
        .product-article Артикул: <b>27872</b>
        
      .product-main
        .product-info
          h1 Systemair Sysplit Wall Smart 07 HP Q
          .product-text
            p Минималистичный дизайн внутреннего блока. Информационная панель с внутренней подсветкой. Энергоэффективность класса А. Трехуровневая система очистки воздуха: фильтр HP сдерживает мельчайшие частицы пыли.
          
          .product-meta
            .product-row Класс энергоэффективности:  <span class="green">А+</span>
            .product-row.product-row--buttons
              .lbl.product-price 26 900.–
        
        .product-photos.js-thumbs-wrapper
          .product-mainPhoto.js-thumbs-target
            img(src="img/product/main.jpg", alt="product")
            a.product-zoom.js-popup-link(href="#", data-popup="productPopup")
              i
          
          .product-thumbs.js-thumbs
            .product-thumb.js-thumb.is-active(data-photo="img/product/main.jpg", data-bigphoto="img/product/main.jpg")
              img(src="img/product/thumb-1.png", alt="thumb")
            .product-thumb.js-thumb(data-photo="img/product/main-2.jpg", data-bigphoto="img/product/main-2.jpg")
              img(src="img/product/thumb-2.png", alt="thumb")
            .product-thumb.js-thumb(data-photo="img/product/main-3.jpg", data-bigphoto="img/product/main-3.jpg")
              img(src="img/product/thumb-3.png", alt="thumb")
      
      
      .product-extended
        section.product-section
          .product-tabs.tabs.js-tabs
            .tabs-list
              .tabs-item.js-tabs-link.is-active Технические характеристики
              .tabs-item.js-tabs-link Описание
              .tabs-item.js-tabs-link Документация
              .tabs-item.js-tabs-link Аксессуары
            .tabs-content
              
              .product-freeze.is-tblt-only
                .product-freezeRate Охлаждающая способность: <span class="value">7000 BTU</span>
                .product-freezeVisual.fv
                  .fv-pointer(style="left:70%;")
            
              .tabs-tab.js-tabs-tab.is-active
                .product-freeze.is-no-tlbt
                  .product-freezeRate Охлаждающая способность: <span class="value">7000 BTU</span>
                  .product-freezeVisual.fv
                    .fv-pointer(style="left:70%;")
                
                .product-chapter
                  h2 Основные характеристики
                  
                  .js-expand
                    .table
                      .tr
                        .td Хладагент:
                        .td R 410A 
                      .tr
                        .td Электропитание:
                        .td 220 В
                      .tr
                        .td Холодопроизводительность:
                        .td 7000 BTU 
                      .tr
                        .td Потребляемая мощность:
                        .td 785 Вт
                      .tr
                        .td Рабочий ток:
                        .td 100 мА
                      .tr
                        .td EER/COP или SEER/COP:
                        .td 100 мА
                      .tr
                        .td Компрессор:
                        .td SEER/COP
                      .tr
                        .td Режим приточной вентиляции:
                        .td Нет
                      .tr
                        .td Дополнительные режимы:
                        .td Режим вентиляции
                      
                      .tr
                        .td Рабочий ток:
                        .td 100 мА
                      .tr
                        .td EER/COP или SEER/COP:
                        .td 100 мА
                      .tr
                        .td Компрессор:
                        .td SEER/COP
                      .tr
                        .td Режим приточной вентиляции:
                        .td Нет
                      .tr
                        .td Дополнительные режимы:
                        .td Режим вентиляции
                    
                    .product-more.js-expand-link Все характеристики
              
              .tabs-tab.js-tabs-tab
                .product-chapter
                  h2 Описание
              .tabs-tab.js-tabs-tab
                .product-chapter
                  h2 Документация
              .tabs-tab.js-tabs-tab
                .product-chapter
                  h2 Аксессуары
              
              
              
        aside.product-aside
          .product-linked.linked
            .linked-title Похожие товары
            a.linked-item(href="#")
              .linked-image
                img(src="img/catalog/prod-1.jpg", alt="")
              .linked-caption Accessory kit Pre-heaterVTC200 Accessory kit Pre-heaterVTC200
            
            a.linked-item(href="#")
              .linked-image
                img(src="img/catalog/prod-2.jpg", alt="")
              .linked-caption Accessory kit Pre-heaterVTC200 Accessory kit Pre-heaterVTC200

            a.linked-item(href="#")
              .linked-image
                img(src="img/catalog/prod-3.jpg", alt="")
              .linked-caption Accessory kit Pre-heaterVTC200 Accessory kit Pre-heaterVTC200
