.promo
  .center
    .promo-slider
      .peppermint
        figure
          .promo-slide.promo-slide--1
            .promo-content
              .promo-title Бытовые и полупромышленные кондиционеры, мультизональные системы
              .promo-text Systemair запускает продажу бытовыx, полупромышленных и мультизональных систем кондиционирования в России под собственным брендом
        figure
          .promo-slide.promo-slide--1
            .promo-content
              .promo-title Бытовые и полупромышленные кондиционеры
              .promo-text Systemair запускает продажу бытовыx, полупромышленных и мультизональных систем кондиционирования
        
        figure
          .promo-slide.promo-slide--1
            .promo-content
              .promo-title Бытовые и полупромышленные кондиционеры
              .promo-text Systemair запускает продажу бытовыx, полупромышленных и мультизональных систем кондиционирования
        
        figure
          .promo-slide.promo-slide--1
            .promo-content
              .promo-title Бытовые и полупромышленные кондиционеры
              .promo-text Systemair запускает продажу бытовыx, полупромышленных и мультизональных систем кондиционирования
    
    a.promo-where.wtb(href="#")
      .wtb-content
        .wtb-title Где купить?
        .wtb-text Более 100 специализированных магазинов в России 
