.catalog-showcase.showcase
  .grid
    .grid-col.grid-col--3.showcase-item
      a.showcase-link(href="#")
        .showcase-counter 32
        .showcase-image
          img(src="img/catalog/prod-1.jpg", width="228", alt="product")
        .showcase-title Сплит-системы постоянной производительности
    .grid-col.grid-col--3.showcase-item
      a.showcase-link(href="#")
        .showcase-counter 32
        .showcase-image
          img(src="img/catalog/prod-2.jpg", width="225", alt="product")
        .showcase-title Инверторные сплит-системы
    .grid-col.grid-col--3.showcase-item
      a.showcase-link(href="#")
        .showcase-counter 32
        .showcase-image
          img(src="img/catalog/prod-3.jpg", width="228", alt="product")
        .showcase-title Мультисплит-системы
