.grid-col.grid-col--3.showcase-item
  a.showcase-link(href="#")
    .showcase-image
      img(src="img/catalog/prod-catalog-inner.jpg", width="228", alt="product")
    .showcase-content
      .showcase-title Sysplit Wall Smart 07 HP Q
      .showcase-other
        .showcase-row
          .showcase-category Холодопроизводительность:
          .showcase-value 7000 BTU
      
      .showcase-meta
        span.lbl.lbl--cyan.showcase-price(href="#") 26 900.–
