.topline
  .center
    
    .topline-menu.topmenu
      .topmenu-item
        a.topmenu-link(href="#") О компании
      .topmenu-item
        a.topmenu-link(href="#") Пресс-центр
      .topmenu-item
        a.topmenu-link(href="#") Документация
      .topmenu-item
        a.topmenu-link(href="#") Видео
    
    .topline-help.tophelp Поддержка: <a href="tel:+74957979988">+7 495 79-799-88</a>
    .topline-cabinet.topcabinet
      a.topcabinet-link(href="#") Личный кабинет
      
    .topline-lang.toplang 
      .toplang-icon
      .toplang-value Русский
      .toplang-arrow
      .toplang-list
        a.toplang-item.is-active(href="#") Русский
        a.toplang-item(href="#") English
        a.toplang-item(href="#") Deutsch
