@charset "utf-8";

@media (max-width:960px) {
  #all, .footer {
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  body, html, .tabs-mobileHeadline {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  .topline {
    display:none;
  }


  // header

  .header {
    height:70px;
    position: fixed;
    top:0;
    left:0;
    z-index:20;
    right:0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    min-width: $minwidth;

    &-helper {
      display:block;
      position: relative;
      height:70px;
    }

    .center {
      height:70px;
    }

    &-logo {
      top:18px;

      img {
        display:none;
      }
    }

    &-search {
      display:none;
    }

    &-menu {
      display:none;
    }

    &-menuIcon {
      border-left:1px solid #eeeeee;
      cursor: pointer;
      position: absolute;
      right:0;
      height:70px;
      width:70px;
      line-height:70px;
      text-align: center;

      &:hover {
        background: #eeeeee;
      }

      .lines {
        position: relative;
        display:inline-block;
        width:20px;
        height:18px;
        vertical-align: middle;
      }

      .line {
        background: #263238;
        position: absolute;
        height:2px;
        width:100%;
        top:0;
        left:2px;
      }

      .line--2 {
        top:6px;
      }

      .line--3 {
        top:12px;
      }

      .line--1, .line--2, .line--3 {
        transform: rotateZ(0);
        transition: transform 0.2s, top 0.2s;
      }

      &.is-active {
        background: #eeeeee;

        .line--1 {
          transform: rotateZ(-45deg);
          transition: transform 0.2s, top 0.2s;
          top: 6px;
        }

        .line--2, .line--3 {
          transform: rotateZ(45deg);
          transition: transform 0.2s, top 0.2s;
          top: 6px;
        }
      }
    }

    &-searchIcon {
      position: absolute;
      top:0;
      right:70px;
      border-left:1px solid #eeeeee;
      height:70px;
      width:70px;
      text-align: center;
      line-height:67px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: #eeeeee
      }

      &:after {
        @include after();
        display:inline-block;
        vertical-align: middle;
        background: url(../img/mobile/i-search.png) no-repeat center;
        width:16px;
        height:16px;
        background-size: 16px 16px;
      }

      &.is-active {
        opacity: 0;
      }
    }
  }



  // logo

  .logo {
    &-link {
      background: url(../img/mobile/logo.png) no-repeat 0 0;
      background-size: 34px 35px;
      width:34px;
      height:35px;
      display:block;
    }
  }



  // footer

  #wrapper {
    padding-bottom:440px;
  }

  .footer {
    height:440px;
    margin-top:-440px;

    &-top {
      .center {
        padding:0;
      }
    }

    &-address {
      position: relative;
      display:block;
      margin:0 auto;
      width:auto;
      max-width:360px;
      left:auto;
      top:auto;
      text-align: center;
      padding:27px 0 0 0;
    }

    &-rights {
      top: 78px;
      font-size: 11px;
      right: 30px;
      left: 30px;
      text-align: center;
    }

    &-mail {
      display:none;
    }

    &-logo {
      position: absolute;
      top:143px;
      right:auto;
      left:50%;
      margin-left: -58px;
    }
  }

  .fmenu {
    margin:0;
    padding:0;

    &-item {
      display:block;
      margin:auto;
      width:auto !important;
      padding:25px 40px 20px 30px;
      font-size:13px;
      line-height:20px;
      position: relative;
      text-align: left !important;
      background: white;
      //border-bottom:1px solid $grey;
      max-width:380px;

      &:before {
        height:1px;
        background: $grey;
        @include after();
        position: absolute;
        bottom:0;
        left:-400px;
        right:-400px;
      }

      &:after {
        @include after();
        position: absolute;
        top:25px;
        right:30px;
        width:3px;
        height:3px;
        border:2px solid $textColor;
        border-left:0;
        border-top:0;
        margin:7px 0 0 0;
        transform: rotate(-45deg);
      }

      &:hover {
        color:$blue;

        &:after {
          border-color:$blue;
        }
      }
    }
  }

  .fnav {
    display:none;
  }



  // catalog

  .catalog, .catalog--lvl2 {
    .grid-col--p23 {
      width:30%;
    }
    .grid-col--p77 {
      width:70%;
    }
  }

  .catalog--lvl1 .catmenu-lvl1 {
    padding-right:30px;
  }


  // showcase

  .showcase {
    padding-bottom:0;
    margin-bottom:30px;

    &-indicator {
      display:none;
    }
    &-sorting {
      display:none;
    }

    .grid-col {
      width:auto;
      display:block;
      margin: auto;
      height:auto;
      position: relative;
    }

    &-headline {
      margin-right:0;
    }

    &-link {
      position: relative;
      display:block;
      height:140px;
      line-height:140px;
      padding:0 20px;
      text-align: left;
      border:0;
      max-width:410px;
      margin:0 auto;

      &:after {
        height:1px;
        @include after();
        position: absolute;
        left:-400px;
        right:-400px;
        bottom:0;
        background: $grey;
      }
    }
    &-counter {
      display:none;
    }
    &-image {
      display:block;
      position: absolute;
      height:100%;
      line-height:140px;
      width:90px;
      left:20px;

      img {
        max-width:80%;
        max-height:80%;
        width:auto;
        height:auto;
      }
    }
    &-title {
      position: relative;
      display:inline-block;
      vertical-align: middle;
      font-size:14px;
      line-height:22px;
      padding-left:110px;
      min-height:0;
    }

    &-header {
      padding-left:30px;
      padding-right:30px;
      box-sizing: border-box;
      //max-width:450px;
      //margin:0 auto;
      border:0;
      margin-left:20px;
      margin-right:0;

      &:after {
        position: absolute;
        @include after();
        bottom:0;
        height:1px;
        background: $grey;
        left:-400px;
        right: -400px;
      }
    }

    &--list {
      .showcase {
        &-content {
          width:81%;
          margin-left:19%;
          min-height:0;
          line-height:normal;
        }
        &-link {
          padding-bottom:15px;
          //max-width:380px;
          padding-right:0;
          //margin:0 auto;
          margin-left:30px;
        }
        &-title {
          padding-left:0;
          display:block;
          width:auto;
          margin:auto;
        }
        &-other {
          display:block;
          width:auto;
          margin:auto;
        }
        &-meta {
          display:block;
          position: relative;
          margin:auto;
          width:auto;
          height:auto;
          min-height:auto;
          text-align: left;
        }
        &-price {
          width:auto;
          height:auto;
          min-height:0;
          line-height:40px;
          padding-top:0;
          padding-bottom:0;
        }
        &-category {
          display:inline-block;
        }
        &-value {
          display:inline-block;
        }
      }
    }
  }


  // inner menu

  .innerMenu {
    display:none;
  }
}


@media (max-width:960px) and (min-width:601px) {
  // promo

  .promo {
    padding:0;

    .center {
      padding:0;
    }

    &-slider, &-slide {
      height:400px;
    }

    &-title {
      font-size:22px;
      line-height:1.25em;
    }

    &-content {
      font-size:16px;
      line-height:1.5em;
      padding-left:30px;
    }

    ul.peppermint-dots {
      bottom:25px;
      left:27px;
    }

    &-where {
      height:400px;
    }
  }


  .wtb {
    &:after {
      top:150px;
    }

    &-content {
      padding-top:30px;
    }

    &-title {
      font-size:20px;
    }
  }



  // mini catalog

  .minicat {
    .center {
      padding:0;
    }
    &-image {
      height:210px;
      line-height:210px;
    }
    &-title {
      padding-left:20px;
      padding-right:20px;
      font-size:14px;
      line-height:1.5em;
      text-align: center;
    }
  }


  // rubricator

  .rbrctr {
    margin-bottom:40px;

    .center {
      padding:0;
    }
    &-inside {
      padding:30px 30px;
    }
    &-slider, &-slide {
      height:400px;
    }
    &-address {
      margin:15px 0 10px 0;
    }
    &-headline {
      font-size:24px;
      line-height:1.3em;
    }
    &-subtitle {
      font-size:14px;
      line-height:1.5em;
    }
    &-content {
      font-size:14px;
      line-height:1.5em;
    }
    ul.peppermint-dots {
      left:29px;
      bottom:20px;
    }
    &-link {
      padding-top:50px;
      min-height:155px;

      &--cyan {
        min-height:145px;
      }
    }
    &-title {
      padding-top:20px;
    }
  }


  .rnews {
    &-inside {
      height:400px;
      padding:30px 30px;
    }
  }


  .rvideo {
    min-height:400px;

    &-description {
      top:290px;
    }
    &-inside {
      padding:30px 30px;
    }
  }


  // product

  .product {
    &-extended {
      background: #f6f6f6;
      padding:0 40px;
      margin:0 -40px;

      &:after, &:before {
        display:none;
      }
    }
    &-aside {
      display:none;
    }
    &-section {
      display:block;
      width:auto;
      margin:auto;
      background: none;
      margin-right:-30px;

      &:before {
        display:none;
      }
    }

    &-thumb {
      width:80px;
      height:80px;
      padding:0;
      line-height:80px;
    }

    &-info {
      font-size:14px;
      line-height:24px;

      h1 {
        margin-bottom:20px;
        font-size:28px;
        line-height:32px;
      }
    }

    &-photos {
      padding-top:50px;
    }

    &-meta {
      padding-top:0;
      margin-top:40px;
    }

    &-price {
      margin-top:30px;
    }

    &-mainPhoto {
      height:300px;
      line-height:300px;
    }
  }
}


@media (max-width:960px) and (min-width:791px) {
  // showcase

  .showcase {
    &-link {
      margin-left:20px;
      max-width:100%;
    }
  }
}


@media (max-width:790px) and (min-width:601px) {
  .is-no-tablet {
    display:none !important;
  }

  .promo {
    &-where {
      &:after {
        top:170px;
      }
    }
    &-content {
      padding-top:37px;
    }
    &-slide {
      background: $blue;
    }
  }

  .wtb {
    &-content {
      padding-top:40px;
    }
  }

  .rbrctr {
    .center > .grid-row > .grid-col {
      display:block;
      width:auto;
      margin:auto;
    }
    &-subgrid {
      .grid-col {
        margin-right:-4px;
      }
      .grid-row {
        display:inline-block;
        vertical-align: top;
        margin-right:-4px;

        &:first-child {
          width:66.6666%;

          .grid-col:first-child {
            width:50.3%
          }
          .grid-col:last-child {
            width: 49.7%;
          }
        }
        &:last-child {
          width:33.3333%;
        }
      }
    }
    &-link {
      &--cyan {
        min-height:155px;
        //margin-right:-1px;

        .rbrctr-title {
          padding-top:33px;
        }
      }
    }
  }

  .rnews {
    height:auto;
    min-height:0;

    &-inside {
      padding-bottom:60px;
      height:auto;
    }
    &-date {
      margin-bottom:10px;
    }
    &-main {
      max-width:90%;
      font-size:22px;
      line-height:1.5em;

      .rnews-date {
        margin-bottom:5px;
      }
    }
    &-item {
      min-height:0;
    }
  }

}



@media (max-width:790px) {

  // breadcrumbs

  .breadcrumbs {
    display:none;
  }



  // catalog

  .catalog, .catalog--lvl2 {
    padding-top:0;

    .center {
      padding:0;
    }

    .grid-col--p23 {
      display:none;
    }

    .grid-col--p77 {
      display:block;
      width:auto;
      margin:auto;
    }
  }

  .catalog--lvl2 .catbanner,
  .catbanner {
    height:280px;
    padding-bottom:0;

    &-inside {
      padding:30px;
      margin:0 auto;
      max-width:450px;
      box-sizing: border-box;
    }

    &-content, &-link {
      display:none;
    }
    &-bg {
      background: url(../img/mobile/catalog-bg.jpg) no-repeat !important;
      background-position: bottom left !important;
      background-size: cover !important;
    }
    &-title {
      font-size:28px;
      line-height:34px;
      padding-top:20px;
      margin:0 auto;
    }
  }


  .catmobmenu {
    display:block;
  }


  // showcase

  .showcase {
    &-header {
      max-width:450px;
      margin:0 auto;
    }
  }

  .showcase--list {
    .showcase-image {
      width:23%;
    }
    .showcase-link {
      max-width:380px;
      padding-right:10px;
      margin:0 auto;
    }
  }



  // product

  .pSlider {
    display:block;
  }

  .is-tblt-only {
    display:block;
  }

  .is-no-tlbt {
    display:none;
  }

  .product {
    padding-bottom:25px;

    .center {
      padding:0;
    }

    &-wrap {
      padding:0 30px;
    }

    &-photos {
      display:none;
    }

    &-main {
      position: relative;
      display:block;
      margin: auto;
      width:auto;
    }

    &-aside {
      display:none;
    }

    &-section {
      display:block;
      margin:auto;
      width:auto;
      background: $grey;
      margin:0 -30px;
      padding:0 30px;
    }

    &-tabs {
      position: relative;
      margin:auto;
    }

    &-main {
      padding-top:10px;
      padding-bottom:40px;
      max-width: 390px;
      margin:0 auto;
    }

    &-info {
      padding:0;
      margin:auto;
      width:auto;
      display:block;
      font-size:13px;
      line-height:25px;

      h1 {
        font-size:24px;
        line-height:30px;
        margin-bottom:10px;
      }
    }

    &-top {
      padding:0;
      margin:0 auto;
      max-width:390px;
      margin-bottom:0;
    }

    &-meta {
      padding-top:0;
    }

    &-row {
      display:none;

      &--buttons {
        display:block;
      }
    }

    &-price {
      display:block;
      text-align: center;
      max-width:200px;
      margin:20px auto 0;

      color:$cyan;
      border:1px solid lighten($cyan, 20%);
      background: none;
    }

    &-text {
      padding-top:10px;
    }

    &-extended {
      position: relative;
      padding-top:30px;
      background: $grey;
      margin:0 -30px;
      padding:30px 30px 0;

      &:before {
        display:none;
      }
    }

    &-freezeRate {
      padding-left:25px;
      position: relative;
      margin-bottom:14px;

      &:before {
        position: absolute;
        left: 0;
        top:5px;
      }
    }

    &-freeze {
      max-width:390px;
      margin:0 auto;
    }

    &-freezeVisual {
      margin-bottom:34px;
    }

    &-chapter {
      padding-top:18px;
      padding-bottom:30px;
      max-width:390px;
      margin:0 auto;

      h2 {
        font-size: 16px;
        margin-bottom:12px;
      }
    }

    &-more {
      position: relative;
      display:block;
      border:1px solid #eeeeee;
      text-align: center;
      margin-top:19px;
      padding-top:18px;
    }
  }


  .tabs {
    &-list {
      display:none;
    }
    &-tab {
      display:block;
      padding-top:0;
      position: relative;
      margin:0 -30px;
      padding:0 30px;

      max-height:60px;
      overflow: hidden;
      transition: max-height 0.2s;

      &.is-expanded {
        max-height: 10000px;
        transition: max-height 0.4s;
      }
    }

    &-bg {
      width:400px;
      left:-400px;
      height:100%;
      border:1px solid #f3f3f3;
      border-right:0;
      border-left:0;
      background: white;
      @include after();
      position: absolute;
      top:-1px;
      transition: background 0.4s;
    }

    &-mobileHeadline {
      display:block;
      padding:21px 30px 22px 0;
      font-size:14px;
      font-weight: 600;
      color:$textColor;
      background: white;
      border:1px solid #f3f3f3;
      //margin:0 -30px;
      cursor: pointer;
      user-select: none;
      transition: background 0.4s;

      max-width:370px;
      margin:0 auto;
      position: relative;

      &:hover {
        color:$blue;
      }

      &:before {
        width:400px;
        right:-400px;
        height:100%;
        border:1px solid #f3f3f3;
        border-right:0;
        border-left:0;
        background: white;
        @include after();
        position: absolute;
        top:-1px;
        transition: background 0.4s;
      }

      &:after {
        position: absolute;
        @include after();
        content: '+';
        color:#7c7c7c;
        font-size:30px;
        line-height:64px;
        text-align: right;
        font-weight: 300;
        right:0px;
        top:0;
        bottom:0;
      }
    }

    .is-expanded {
      .tabs-bg, .tabs-mobileHeadline:before {
        background: #eeeeee;
      }
      .tabs-mobileHeadline {
        background: #eeeeee;

        &:hover {
          color:$textColor
        }

        &:after {
          content: '–';
          line-height:60px;
        }
      }
    }
  }

  .product .table {
    position: relative;

    .tr {
      display:block;

      &:nth-child(2n-1) {
        background: #f2f2f2
      }
    }

    .td {
      display:block;
      background: none !important;

      &:first-child {
        padding:13px 20px 1px;
      }
      &:last-child {
        padding:0 20px 12px;
      }
      &:last-child, &:first-child {
        width:auto;
        margin:auto;
      }
    }
  }

  .product {
    .js-expand {
      .table {
        .tr {
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9) {
            max-height: 0;

            &.is-active {
              max-height:10000px;
            }
          }
        }
      }
    }
  }
}
